<div class="container dynamic-page">
	<div class="row">
		<div class="col-md-12">
			<h6 class="text-center">Mysore Government Orders Circulars and Notifications Pertaining to</h6>
    		<h2 class="text-center">Scheduled Castes and Scheduled Tribes</h2><br /><br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" style="border-right: 1px solid #ccc;">
			<h1 class="level1-title" epub:type="title">ಸಂದೇಶ</h1>
			<p><br />ಸಿದ್ದರಾಮಯ್ಯ<br />ಮುಖ್ಯಮಂತ್ರಿ<br />ಸಿಎಂ/ಪಿಎಸ್/21/2018</p>
			<p class="text-right">ವಿಧಾನ ಸೌಧ<br />ಬೆಂಗಳೂರು-560001<br />ದಿನಾಂಕ 05.02.2018</p>
			<p>ಹಿಂದುಳಿದ ವರ್ಗದವರ ಶ್ರೇಯೋಭಿವೃದ್ಧಿಗೆ ಸಂಬಂಧಿಸಿದಂತೆ ರಾಜ್ಯ ಸರ್ಕಾರವು ಹೊರಡಿಸಿರುವ ಅಧಿಸೂಚನೆಗಳು, ಆದೇಶಗಳು ಹಾಗೂ ಸುತ್ತೋಲೆಗಳನ್ನು ಸಂಗಹಿಸ್ರಿ ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ಇಲಾಖೆಯು ಎರಡು ಸಂಪುಟಗಳ ಬೃಹತ್ ಮಾಹಿತಿ ಗುಚ್ಛವನ್ನೇ ಹೊರತರುತ್ತಿರುವುದು ಅತ್ಯಂತ ಸಂತಸದ ಸಂಗತಿಯಾಗಿದೆ.</p>
			<p>ಇಡೀ ಭಾರತದಲ್ಲಿಯೇ ಕರ್ನಾಟಕ ಎಂಬುದು ಜಾತ್ಯಾತೀತತೆಯ ತೊಟ್ಟಿಲು! ಹನ್ನೆರಡನೇ ಶತಮಾನದಲ್ಲಿ ಜಗಜ್ಯೋತಿ ಶ್ರೀ ಬಸವೇಶ್ವರರು ಮಾನವೀಯ ಮೌಲ್ಯಗಳನ್ನು  ಪ್ರತಿಪಾದಿಸುವ ಸಮ ಸಮಾಜದ ಪರಿಕಲ್ಪನೆಯನ್ನು ಪಸರಿಸಿದರು. ಹದಿನೈದನೇ ಶತಮಾನದಲ್ಲಿ ಸಂತ ಶ್ರೇಷ್ಠ ಕನಕದಾಸರು ಜಾತಿ ಜಾತಿಗಳ ನಡುವೆ ಸಂಘರ್ಷ ಬೇಡ ಎಂಬ ಉದಾತ್ತ ಸಂದೇಶವನ್ನು ಸಾರಿದರು. ಇಪ್ಪತ್ತನೇ ಶತಮಾನದಲ್ಲಿ ಅಂದಿನ ಮೈಸೂರು ಮಹಾರಾಜರಾಗಿದ್ದ ನಾಲ್ವಡಿ ಕೃಷ್ಣರಾಜ ಒಡೆಯರ್ ಅವರು ಪ್ರಪ್ರಥಮ  ಬಾರಿಗೆ ಹಿಂದುಳಿದ ವರ್ಗಗಳಿಗೆ ಸೇರಿದವರಿಗೆ ಉದ್ಯೋಗಗಳಲ್ಲಿ ಮೀಸಲಾತಿ ಕಲ್ಪಿಸಿ ಸಾಮಾಜಿಕ ನ್ಯಾಯದ ಪರಿಕಲ್ಪನೆಯನ್ನು ಸಾಕಾರಗೊಳಿಸಿದರು. ರಾಜ್ಯದ ಮುಖ್ಯಮಂತ್ರಿಯಾಗಿದ್ದ ಡಿ. ದೇವರಾಜ ಅರಸು ಅವರೂ ಇತರೆ ಹಿಂದುಳಿದ ಸಮುದಾಯಗಳಿಗೆ ಸೇರಿದವರಿಗೆ ಶಿಕ್ಷಣ ಮತ್ತು ಉದ್ಯೋಗದಲ್ಲಿ ಮೀಸಲಾತಿ ಕಲ್ಪಿಸಿ ಹಿಂದುಳಿದ ವರ್ಗಗಳ ಹರಿಕಾರರಾಗಿ ಜನಮಾನಸದಲ್ಲಿ ಶಾಶ್ವತವಾಗಿ ನೆಲೆಸಿದ್ದಾರೆ. ನಮ್ಮ ಸರ್ಕಾರವೂ ಕೂಡಾ ಹಿಂದುಳಿದ ವರ್ಗಗಳ ಅಭ್ಯುದಯಕ್ಕೆ ಎಲ್ಲಾ ರೀತಿಯಲ್ಲೂ ಶಮಿಸಿದೆ, ಶ್ರಮಿಸುತ್ತಿದೆ ಹಾಗೂ ಶ್ರಮಿಸುತ್ತದೆ.</p>
			<p>ಅಂದಿನ ಮೈಸೂರು ಸರ್ಕಾರ ಹಾಗೂ ನಂತರದ ದಿನಗಳಲ್ಲಿನ ಕರ್ನಾಟಕ ಸರ್ಕಾರವು ಹಿಂದುಳಿದವರ ಶ್ರೇಯೋಭಿವೃದ್ಧಿಗಾಗಿ ರೂಪಿಸಿದ ಮಹತ್ವಾಕಾಂಕ್ಷೀ ಯೋಜನೆಗಳನ್ನು ಅನುಷ್ಠಾನಗೊಳಿಸಲು ಹಾಗೂ ಹಮ್ಮಿಕೊಂಡ ಅರ್ಥಪೂರ್ಣ ಕಾರ್ಯಕ್ರಮಗಳನ್ನು ಜಾರಿಗೆ ತರಲು ಅನುವಾಗುವಂತೆ ಹೊರಡಿಸಿದ ಮಹತ್ವಯುತ ಅಧಿಸೂಚನೆಗಳು, ಪ್ರಮುಖ ಆದೇಶಗಳು ಹಾಗೂ ಮುಕ್ಯ ಸುತ್ತೋಲೆಗಳನ್ನು ಕ್ರೋಢೀಕರಿಸಿ ಪುಸ್ತಕ ರೂಪದಲ್ಲಿ ಎರಡು ಸಂಪುಟಗಳಲ್ಲಿ ಹೊರತರುತ್ತಿರುವ ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ಇಲಾಖೆಯು ಕಾರ್ಯ ಅಭಿನಂದನೀಯ ಹಾಗೂ ಅನುಕರಣ ಯೋಗ್ಯ.</p>
			<p>ಮಾಹಿತಿ ಎಂಬುದು ಸಾರ್ವಜನಿಕರ ಸೊತ್ತಾಗಿರುವ ಈ ಕಾಲದಲ್ಲಿ ಇಂತಹ ಅತ್ಯಮೂಲ್ಯ ಹಾಗೂ ಸಂಗ್ರಹಯೋಗ್ಯ ಪುಸ್ತಕಗಳಲ್ಲಿ ದಾಖಲಾಗಿರುವ ಎಲ್ಲಾ ಅಂಶಗಳೂ ಎಲ್ಲರಿಗೂ ಎಲ್ಲಾ ಕಾಲದಲ್ಲೂ ಎಲ್ಲೆಡೆ ಪರಾಮರ್ಶಿಸಲು ಲಭ್ಯವಾಗಬೇಕು ಎಂಬುದು ನನ್ನ ಸದಾಶಯ.</p>
			<p>ಮುಂದಿನ ಪೀಳಿಗೆಗಳಿಗಾಗಿ ಐತಿಹಾಸಿಕ ಮಹತ್ವದ ದಾಖಲೆಗಳನ್ನು ಸಂರಕ್ಷಿಸುವ ಮಹತ್ತರ ಕಾರ್ಯ ನಿರ್ವಹಿಸುತ್ತಿರುವ ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ಇಲಾಖೆಯು ಅಂತರ್ಜಾಲ ತಾಣದ ವೇದಿಕೆಯನ್ನು ಅತ್ಯಂತ ಪರಿಣಾಮಕಾರಿಯಾಗಿ ಬಳಸಿಕೊಂಡು ಮತ್ತಷ್ಟು ಸಮರ್ಥವಾಗಿ ಕಾರ್ಯನಿರ್ವಹಿಸಲಿ ಎಂದು ಮನಸಾರೆ ಹಾರೈಸುತ್ತೇನೆ.</p>
			<p class="text-right"><strong>ಸಿದ್ದರಾಮಯ್ಯ</strong></p>
			<p>ನಿರ್ದೇಶಕರು,<br />ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ಇಲಾಖೆ,<br />ಕೊಠಡಿ ಸಂಖ್ಯೆ : 126, ಮೊದಲನೆಯ ಮಹಡಿ.<br />ವಿಕಾಸ ಸೌಧ,<br />ಬೆಂಗಳೂರು-560001</p>
		</div>
		<div class="col-md-6">
			<h1 class="level1-title" epub:type="title">MESSAGE</h1>
			<p>Siddaramaiah<br />Chief Minister<br />CM/PS/21/2018</p>
			<p class="text-right">Vidhana Soudha<br />Bangalore - 560001<br />Date 05-02-2018</p>
			<p>It is a matter of great happiness that the Karnataka State Archives has collected the orders, notifications and circulars issued by the State Government and is publishing the same in two volumes.</p>
			<p>Karnataka is the cradle of secularism in all of India! In the twelfth century, Jagajyothi (light of the universe) Shri Basaveshvara spread the notion of an equitable society which propagated humanistic values. In the fifteenth century, the great saint Kanakadasa proclaimed an elevated message - let there be no conflict between castes. In the twentieth century, the then king of Mysore Nalvadi Krishnaraja Wodeyar for the first time created opportunities for people from Backward Classes in employment, thus realising the concept of social justice. D. Devaraja Urs, who was the chief minister of the state, too provided reservations both in education and employment for people from Backward Classes and has remained constantly in the hearts of people. Our government too has worked, is working and will continue to work for the development of Backward Classes.</p>
			<p>The then Mysore government and afterwards, the Karnataka Government formulated ambitious and meaningful programmes for the welfare and development of Backward Classes. For the implementation of such programmes it issued important notifications, orders and circulars. It is worthy of praise and emulation that the Karnataka State Archives has collected and is publishing in book form in two volumes.</p>
			<p>It is my sincere wish that at a time when information has become public asset all the aspects available in these valuable and collectible books be available for consultation to all at all times.</p>
			<p>I heartily wish that Karnataka State Archives, which is performing an important task of preserving important historical documents for the next generation, may also effectively use Internet and continue to perform capably.</p>
			<p class="text-right"><strong>Siddaramaiah</strong></p>
			<p>Director<br />Karnataka State Archives <br />Room number 126, First Floor,<br />Vikasa Soudha,<br />Bangalore - 560001</p>
		</div>	
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6" style="border-right: 1px solid #ccc;">
			<h1 class="level1-title" epub:type="title">ಸಂದೇಶ</h1>
			<p>ಉಮಾಶ್ರೀ <br />ಮಹಿಳಾ ಮತ್ತು ಮಕ್ಕಳ ಅಭಿವೃದ್ಧಿ <br />ವಿಕಲಚೇತನರ ಮತ್ತು<br />ಕನ್ನಡ ಮತ್ತು ಸಂಸ್ಕøತಿ ಸಚಿವರು ಹಾಗೂ<br />ಬಾಗಲಕೋಟೆ ಜಿಲ್ಲಾ ಉಸ್ತುವಾರಿ ಸಚಿವರು<br />ಸಂ: ಮ.ಮ.ಅ.ಕ.ಸಂ.ಸ/ /2018 </p>
			<p class="text-right">ದೂರವಾಣಿ ಕಛೇರಿ:2225528<br />22033469<br /> ಕೊಠಡಿ ಸಂಖ್ಯೆ: 252, 2ನೇ ಮಹಡಿ<br />ಹಿರಿಯ ನಾಗರಿಕರ ಸಬಲೀಕರಣ, <br />ವಿಧಾನಸೌಧ, ಬೆಂಗಳೂರು<br />ದಿನಾಂಕ:25.01.2018</p>
			<p>ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ಇಲಾಖೆಯು ರಾಜ್ಯದಲ್ಲಿ ಇದೇ ಮೊದಲ ಬಾರಿಗೆ ಪರಿಶಿಷ್ಟ ಜಾತಿ ಪರಿಶಿಷ್ಟ ಪಂಗಡಗಳ ವರ್ಗದವರ ಶ್ರೇಯೋಭಿವೃದ್ಧಿಗಾಗಿ  ಸರ್ಕಾರಗಳು ವಿವಿಧ ಕಾಲ ಘಟ್ಟಗಳಲ್ಲಿ ಹೊರಡಿಸಿದ ಸರ್ಕಾರದ ಆದೇಶಗಳನ್ನು ಪ್ರಕಟಿಸುತ್ತಿರುವುದು ಶ್ಲಾಘನೀಯ. ಪತ್ರಾಗಾರ ಇಲಾಖೆಯು ತನ್ನ ಕಾರ್ಯವನ್ನು  ಹೀಗೆಯೇ ಮುಂದುವರೆಸಲಿ ಹಾಗೂ ಇಲಾಖೆ ವತಿಯಿಂದ ಹಮ್ಮಿಕೊಳ್ಳುವ ಕಾರ್ಯಕ್ರಮಗಳಿಗೆ ನಮ್ಮ ಸರ್ಕಾರದ ಬೆಂಬಲವಿರುತ್ತದೆ ಎಂದು ತಿಳಿಸುತ್ತೇನೆ. ವಿವಿಧ ಕಾಲಘಟ್ಟಗಳಲ್ಲಿ ಹೊರಡಿಸಿದ ಸರ್ಕಾರದ ಆದೇಶಗಳನ್ನು ಪ್ರಕಟಿಸುತ್ತಿರುವ ಇಲಾಖೆಯ ಸಿಬ್ಬಂದಿ ವರ್ಗದವರಿಗೆ ನನ್ನ ಪಶಂಸನೀಯವಾದ ಅಭಿನಂದನೆಗಳು.</p>
			<p class="text-right">ಉಮಾಶ್ರೀ</p>
			<p>ನಿರ್ದೇಶಕರು,<br />ಪತ್ರಾಗಾರ ಇಲಾಖೆ,<br />ಬೆಂಗಳೂರು.</p>
		</div>
		<div class="col-md-6">
			<h1 class="level1-title" epub:type="title">MESSAGE</h1>
			<p>Umashri <br />Minister<br />Department of Women and <br />Child Development,<br />Department of Differently Abled and<br />Senior Citizens<br />Department of Kannada and Culture<br />District Incharge Minister, Bagalkot District</p>
			<p class="text-right">Tel (O): 22255282<br />22033469<br />R. No. 252, 2nd Floor<br />Vidhana Soudha,<br />Bangalore - 560001<br />No: Ma.Ma.A.Ka.Sam.Sa/ /2018 <br />Date: 25-1-2018</p>
			<p>It is praiseworthy that the Karnataka State Archives is publishing for the first time Government orders issued at various times for the welfare and development of Scheduled Castes and Scheduled Tribes. May the Archives Department continue to function in this manner. Further I wish to convey that our Government shall support the various programmes planned by the Department. I congratulate the Archives staff which is publishing the government orders issued at different junctures.</p>
			<p class="text-right">Umashri</p>
			<p>Director<br />Archives Department<br />Bangalore</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6" style="border-right: 1px solid #ccc;">
			<h1 class="level1-title" epub:type="title">ಶುಭ ಸಂದೇಶ</h1>
			<p>ಹೆಚ್.ಆಂಜನೇಯ <br />ಸಮಾಜ ಕಲ್ಯಾಣ<br />ಹಿಂದುಳಿದ ವರ್ಗಗಳ ಕಲ್ಯಾಣ ಸಚಿವರು <br />ಹಾಗೂ <br />ಚಿತ್ರದುರ್ಗ ಜಿಲ್ಲಾ ಉಸ್ತುವಾರಿ ಸಚಿವರು.<br />ಸಂ: ಸಕಹಿಂವಕಸ:1073:2018</p>
			<p class="text-right">ದೂ.ಸಂ. 08022353104<br />22033988<br />ಕೊಠಡಿ ಸಂಖ್ಯೆ 34/340ಎ<br />3ನೇ ಮಹಡಿ, ವಿಧಾನ ಸೌಧ<br />ಬೆಂಗಳೂರು-560001 <br />ದಿನಾಂಕ: 23-01-2018</p>
			<p>ಕರ್ನಾಟಕ ಸರ್ಕಾರದ ಮೂಳ ಉದ್ದೇಶವು ಎಲ್ಲಾ ವರ್ಗದ ಜನರಿಗೆ ಅದರಲ್ಲೂ ವಿಶೇಷವಾಗಿ ಕೆಳ ಹಂತದ ಜನರನ್ನು ಗಮನದಲ್ಲಿಟ್ಟುಕೊಂಡು ಹತ್ತು ಹಲವು ಯೋಜನೆಗಳನ್ನು ಜಾರಿಗೊಳಿಸುತ್ತಿದೆ, ಕನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ಇಲಾಖೆಯು  ತನ್ನ ಐತಿಹಾಸಿಕ ದಾಖಲೆಗಳ ಭಂಡಾರದಿಂದ ಮೈಸೂರು ರಾಜರ ಕಾಲದಿಂದ ಅಂದರೆ 1860-1960ರವರೆಗಿನ ಸುಮಾರು 100 ವರ್ಷಗಳ ಕಾಲದಲ್ಲಿ ಪರಿಶಿಷ್ಟ ಜಾತಿ, ಪರಿಶಿಷ್ಟ ಪಂಗಡಗಳ ಶ್ರೇಯೋಭಿವೃದ್ಧೀಗೆ ಕೈಗೊಂಡ ಸರ್ಕಾರದ ಆದೇಶಗಳನ್ನು ಆಯ್ಕೆಮಾಡಿ, ಸಂಶೋಧಿಸಿ, ಕ್ರೋಢೀಕರಿಸಿ ಪ್ರಕಟಿಸುತ್ತಿರುವುದು ಬಹಳ ಸಂತೋಷದಾಯಕವಾಗಿದೆ. ಈ ಶುಭ ಸಂದರ್ಭದಲ್ಲಿ ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ಇಲಾಖೆಗೆ ಹಾರ್ಧಿಕ ಅಭಿನಂದನೆಗಳನ್ನು ಸಲ್ಲಿಸುತ್ತೇನೆ.</p>
			<p class="text-right">ಹೆಚ್. ಆಂಜನೇಯ</p>
		</div>
		<div class="col-md-6">
			<h1 class="level1-title" epub:type="title">MESSAGE</h1>
			<p>H. Anjaneya<br />Minister for Social Welfare<br />Backward Classes Welfare Department<br />Chitradurga District Incharge Minister<br />Number: SaKaHiVaKaSa: 1073: 2018</p>
			<p class="text-right">Tel. No. 080 22353104<br />22033988<br />Room number: 340/340 A<br />3rd Floor, Vidhana Soudha<br />Bangalore - 560001<br />Date: 23-01-2018</p>
			<p>Karnataka Government has been implementing tens of plans keeping in mind the welfare of all sections of society, specifically the lower classes. It is heartening that the Karnataka State Archives department has selected and is publishing government orders pertaining to the welfare and development of Scheduled Castes and Tribes from the period 1860-1960. On this occasion, I extend my congratulations to the Karnataka State Archives Deaprtment.</p>
			<p class="text-right">H. Anjaneya</p>
		</div>
	</div>
	<hr><br /><br />
	<div class="row">
		<div class="col-md-12">
			<h1 class="level1-title" epub:type="title">ಮೊದಲ ಮಾತು</h1>
			<p>ಪರಿಶಿಷ್ಟ ಜಾತಿ ಮತ್ತು ಪರಿಶಿಷ್ಟ ಪಂಗಡಗಳಿಗೆ ಸಂಬಂಧಿಸಿದ ಸರ್ಕಾರಿ ಆದೇಶಗಳು, ಅಧಿಸೂಚನೆಗಳು ಮತ್ತು ಸುತ್ತೋಲೆಗಳನ್ನು ಎರಡು ಸಂಪುಟಗಳಲ್ಲಿ ಪ್ರಕಟಿಸಲು  ಕರ್ನಾಟಕ ರಾಜ್ಯ ಮುಕ್ತ ವಿಶ್ವವಿದ್ಯಾನಿಲಯವು ಹೆಮ್ಮೆ ಪಡುತ್ತದೆ. ವಿಶ್ವವಿದ್ಯಾನಿಲಯದ ನನ್ನ ಸಹೋದ್ಯೋಗಿಗಳ ತಂಡವು ಮೈಸೂರು ರಾಜ್ಯ ಗೆಜೆಟನಲ್ಲಿ ಪ್ರಕಟವಾದ ಈ ದಾಖಲಾತಿಗಳನ್ನು ಶ್ರಮವಹಿಸಿ ಸಂಗ್ರಹಿಸಿದೆ ಮತ್ತು ಪ್ರಕಟಣೆಗೆ ಸಿದ್ಧಪಡಿಸಿದೆ.</p>
			<p>ಈ ಯೋಜನೆಯನ್ನು ಕೈಗೆತ್ತಿಕೊಳ್ಳಲು ಕರಾಮುವಿಗೆ ಕೆಲವು ವಿಶಿಷ್ಟವಾದ ಅರ್ಹತೆಗಳಿವೆ. ಈ ವಿಶ್ವವಿದ್ಯಾನಿಲಯವು ಸಾಮಾಜಿಕವಾಗಿ ಮತ್ತು ಆರ್ಥಿಕವಾಗಿ ಹಿಂದುಳಿದಿರುವ ವರ್ಗಗಳ ವಿದ್ಯಾರ್ಥಿಗಳಿಗೆ ಹೆಚ್ಚಿನ ಶಿಕ್ಷಣದ ಅವಕಾಶಗಳನ್ನು ಒದಗಿಸುತ್ತದೆ. ಐತಿಹಾಸಿಕವಾಗಿ ಕರಾಮುವಿಯ ವಿದ್ಯಾರ್ಥಿಗಳ ಪೈಕಿ ಶೇ60ರಷ್ಟು ಮಹಿಳೆಯರು ಇರುತ್ತಾರೆ. ಶೇ 90 ಕ್ಕಿಂತ ಹೆಚ್ಚಿನ ವಿದ್ಯಾರ್ಥಿಗಳು ಗಾಮೀಣ ಭಾಗದವರು ಮತ್ತು ಪರಿಶಿಷ್ಟ ಜಾತಿ, ಪರಿಶಿಷ್ಟ ಪಂಗಡಗಳು ಮತ್ತು ಹಿಂದುಳಿದ ಜಾತಿಗಳಿಗೆ ಸೇರಿದವರು. ಹೀಗೆ ಕರಾಮುವಿಯು ಕರ್ನಾಟಕದ ವಿವಿಧ ಭಾಗಗಳಲ್ಲಿ ಸಾಮಾನ್ಯ ಜನರ ಮನೆಗಳ ಬಾಗಿಲಿಗೆ ಉನ್ನತ ಶಿಕ್ಷಣವನ್ನು ಕೊಂಡೊಯ್ಯುವ ಪ್ರಯತ್ನವನ್ನು ಮಾಡಿದೆ ಎಂದರೆ ಉತ್ರೇಕ್ಷೆಯಲ್ಲ.</p>
			<p>ಈ ಹಿನ್ನೆಲೆಯಲ್ಲಿ ಕರಾಮುವಿ ಈ ಯೋಜನೆಯನ್ನು ಕಾರ್ಯರೂಪಕ್ಕೆ ತರಲು ಸೂಕ್ತವಾದ ಸಂಸ್ಥೆಯಾಗಿತ್ತು. ಈ ಸಂಪುಟಗಳ ಪಕಟಣೆಯಿಂದ ಪ್ರಪ್ರಂಚದಾದ್ಯಂತ ಇರುವ ಸಂಶೋಧಕರಿಗೆ ಮೈಸೂರು ಸಂಸ್ಥಾನ ಮತ್ತು ಕರ್ನಾಟಕ ರಾಜ್ಯಗಳ ಸಾಮಾಜಿಕ ವಾಸ್ತವದ ಕುರಿತಾಗಿ ಹೆಚ್ಚಿನ ಅಧ್ಯಯನ ನಡೆಸಲು ಸಹಾಯವಾಗುತ್ತದೆ ಎಂದು ನಾವು ಭಾವಿಸಿದ್ದೇವೆ. ಇದರಿಂದ ಮೈಸೂರು ಮತ್ತು ಕರ್ನಾಟಕಗಳು ಹೇಗೆ ಪರಿಶಿಷ್ಟ ಜಾತಿ ಮತ್ತು ಪರಿಶಿಷ್ಟ ಪಂಗಡಗಳ ಅಭಿವೃದ್ಧಿಗೆ ಯಾವ ರೀತಿಯ ಕ್ರಮಗಳನ್ನು ಕೈಗೊಂಡಿವೆ ಎನ್ನುವುದರ ಬಗ್ಗೆ ಕೂಡ ಹೊಸಬೆಳಕನ್ನು ಚೆಲ್ಲಿದಂತಾಗುತ್ತದೆ.</p>
			<p>ಪೆಬ್ರವರಿ 26, 2018<br />ಮೈಸೂರು </p>
			<p class="text-right">ಪ್ರೊ. ಡಿ. ಶಿವಲಿಂಗಯ್ಯ<br />ಕುಲಪತಿಗಳು<br />ಕರ್ನಾಟಕ ರಾಜ್ಯ ಮುಕ್ತ ವಿಶ್ವವಿದ್ಯಾನಿಲಯ</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="level1-title" epub:type="title">PREFACE</h1>
			<p>It is a matter of great pride for us at the Karnataka State Open University to publish two volumes of Mysore Government orders, notifications and circulars pertaining to Scheduled Castes and Scheduled Tribes. My colleagues have painstakingly collected and prepared for publication relevant documents published in the Mysore State Gazette.</p>
			<p>Karnataka State Open University is uniquely suited to undertake this project. This university has provided educational opportunities to socially and economically weaker sections of the society. Historically nearly 60% of its students have been women. More than 90% of KSOU's students are from rural areas and belong to SC, ST and OBC categories. Therefore, KSOU has always made sincere efforts to take higher education to the doorsteps of ordinary people across the state.</p>
			<p>Given these institutional commitments, KSOU was the idea place to undertake this project and publish these volumes. We hope the documents published here will attract researchers from across the world to do further research on Princely Mysore and Karnataka state. That will throw more light on how Mysore and Karnataka have tried to ameliorate the living conditions of people belonging to Scheduled Castes and Scheduled Tribes.</p>
			<p class="text-right">Prof. D. Shivalingaiah<br />Vice Chancellor<br />Karnataka State Open University<br />Mysore</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="level1-title" epub:type="title">ಮುನ್ನುಡಿ</h1>
			<p>ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ಇಲಾಖೆಯು 1973 ರಲ್ಲಿ ಅಸ್ತಿತ್ವಕ್ಕೆ ಬಂದಿದ್ದು ಈ ಇಲಾಖೆಯು ಇತಿಹಾಸ ದಾಖಲೆಗಳ ಗಣಿಯೇ ಆಗಿದೆ. ಇಲಾಖೆ ಸ್ಥಾಪನೆಯಾಗಿ ಕೇವಲ 40 ವರ್ಷಗಳಾಗಿದ್ದು, ಸುಮಾರು 250 ವರ್ಷಗಳ ಹಳೆಯ ಐತಿಹಾಸಿಕ ಮಹತ್ವವುಳ್ಳ ದಾಖಲೆಗಳನ್ನು ವೈಜ್ಞಾನಿಕವಾಗಿ ಸಂರಕ್ಷಿಸಿ ಮುಂದಿನ ಪೀಳಿಗೆಗಾಗಿ ಕಾಪಾಡಿಕೊಂಡು ಬಂದಿದೆ. ಯಾವುದೇ ರಾಷ್ಟ್ರದ ಆರ್ಥಿಕ, ಸಾಮಾಜಿಕ, ಇತಿಹಾಸ ಮತ್ತು ಸಂಸ್ಕೃತಿಗಳ ಅಭಿವೃದ್ಧಿಗಳ ಪೂರ್ವಾಪರಗಳನ್ನು ಪ್ರತಿಬಿಂಬಿಸಲು ದಾಖಲೆಗಳು ಮೂಲಾಧಾರಗಳಾಗಿದ್ದು, ಅದು ರಾಷ್ಟ್ರದ ಪರಂಪರೆಯ ಅಮೂಲ್ಯ ಭಾಗವಾದ್ದು, ವಿದ್ವಾಂಸರು, ವಿದ್ಯಾರ್ಥಿಗಳು, ಬರಹಗಾರರು ಮತ್ತು ಸಾರ್ವಜನಿಕರಿಗೆ ಆಕರಗಳಾಗಿ ಹಾಗೂ ಸಂಶೋಧನೆಯಗಳಿಗಾಗಿ ಉಪಯೋಗವಾಗಲೆಂದು ಈ ದಾಖಲೆಗಳನ್ನು ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ನಿರ್ದೇಶನಾಲಯ ಸಂರಕ್ಷಿಸುತ್ತಿದೆ.</p>
			<p>ಅತ್ಯಮೂಲ್ಯವಾದ ಚಾರಿತ್ರಿಕ ದಾಖಲೆಗಳ ಹಾಗೂ ಇತಿಹಾಸದ ಸಂಶೋಧನೆಯಲ್ಲಿ ದಾಖಲೆಗಳ ಮಹತ್ವ ಬಗ್ಗೆ ವಿದ್ಯಾರ್ಥಿಗಳಲ್ಲಿ ಹಾಗೂ ಜನರಲ್ಲಿ ಅರಿವು ಮೂಡಿಸಲು ಪತಾಗಾರ ಇಲಾಖೆಯು ತನ್ನ ಸಂಗ್ರಹದಲ್ಲಿ ಇರುವ ಕೆಲವು ಈತಿಹಾಸಿಕ ದಾಖಲೆಗಳನ್ನು ಆಯ್ಕೆಮಾಡಿ ಪಕಟಿಸುವ ಸಂಪ್ರದಾಯವನ್ನು ಹೊಂದಿದೆ. ಪ್ರಸ್ತುತ ಮಾಲಿಕೆಯಲ್ಲಿ ವಿಶೇಷ ಘಟಕ ಯೋಜನೆ ಹಾಗೂ ಗಿರಿಜನ ಉಪಯೋಜನೆಯ ಕಾರ್ಯಕ್ರಮದಡಿಯಲ್ಲಿ ಮೈಸೂರು ಸರ್ಕಾರವು ವಿಶೇಷ ವರ್ಗಗಳ (ಪರಿಶಿಷ್ಟ ಜಾತಿ ಮತ್ತು ಪರಿಶಿಷ್ಟ ಪಂಗಡ) ಅಭಿವೃದ್ಧಿಗಾಗಿ ಹೊರಡಿಸಲಾದ ಆದೇಶ, ಅಧಿ ಸೂಚನೆ ಹಾಗೂ ಸುತ್ತೋಲೆಗಳನ್ನು ಕೊಡೀಕರಿಸಿ 2 ಸಂಪುಟಗಳನ್ನು ಪ್ರಕಟಿಸಿದೆ. ಇವು ಕಳೆದ ನೂರು ವರ್ಷಗಳ  ಅವಧಿಯಲ್ಲಿ (1860-1960) ಸರ್ಕಾರ ಈ ವರ್ಗಗಳ ಏಳಿಗಾಗಿ ತೆಗೆದುಕೊಂಡ ಕ್ರಮಗಳ ಬಗ್ಗೆ ಒಂದು ಒಳನೋಟ ನೀಡುತ್ತದೆ. ಈ ಸಂಪುಟಗಳು ಹೆಚ್ಚಿನ ಹಾಗೂ ಸಂಶೋಧನೆಗಳಿಗೆ ಬೆಳಕು ಚೆಲ್ಲುವಂತಾಗಲಿ ಎಂದು ಹಾರೈಸುತ್ತೇನೆ.</p>
			<p class="text-right">ಎನ್.ಆರ್. ವಿಶುಕುಮಾರ್<br />ನಿರ್ದೇಶಕರು(ಪ್ರ)<br />ಕರ್ನಾಟಕ ರಾಜ್ಯ ಪತ್ರಾಗಾರ ಇಲಾಖೆ</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="level1-title" epub:type="title">FOREWORD</h1>
			<p>Established in 1973, Karnataka State Archives is an invaluable mine of historical records. Although it is only four decades since its establishment, it has been scientifically preserving and protecting for the next generations 250 year old documents of great historical significance. Such documents are the basic sources in order to reflect on the developments in the fields of economy, society, history and culture of any society. They are an invaluable element of a nation's heritage and are essential for the writing of history. The Karnataka State Archives is preserving these documents as sources for research purposes for the benefit of research students, administrators, scholars, students, writers and general public.</p>
			<p>In order to create awareness among students and general public about invaluable historical sources and the importance of documents for historical research, the Archives has a tradition of publishing selected documents. In this series, under the aegis of SCP-TSP programme, two volumes containing orders, circulars and notifications pertaining to Scheduled Castes and Tribes are being published. These volumes provide insights about the steps taken by the Government between 1860 and 1960. I sincerely wish that these volumes shall spur new research and insights.</p>
			<p class="text-right">N. R. Vishukumar<br />Director (I/C)<br />Karnataka State Archives</p>
		</div>
	</div>
</div>
